.PlayBoard {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PlayBoard-title {
  display: flex;
  font-size: 40px;
  width: 100vw;
  text-align: center;
  justify-content: center;
  background-color: #8f7c14;
  padding: 10px 0 10px 0;
  font: bold 100px Open Sans;
  color: rgba(255, 255, 255, 0.356);
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);

}

.PlayBoard-ScoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayBoard-ScoreBoard div {
  margin: 0 1px 10px 1px;
  color: rgba(0, 0, 0, 0.445);
  font: bold 50px Open Sans;
  display: flex;
  background-color: #8f7c14;
  height: 100px;
  width: 200px;
  border-bottom-left-radius: 00px;
  border-bottom-right-radius: 400px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.75);
  clip-path: inset(0px -1px -5px 0px);
}

.PlayBoard-ScoreBoard div:nth-child(1) {
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 0px;
}

.PlayBoard-button-newGame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30vh;
  transform: translateX(0px);
  transition-duration: 500ms;
}

.PlayBoard-button-newGame-button {
  background-color: rgba(156, 133, 1, 0.89) !important;
  font-size: 20px !important;
  margin: 0 20px 0 20px !important;
  padding: 50px !important;
  border-radius: 20px !important;
  color: rgba(255, 255, 255, 0.356) !important;
}


.PlayBoard-Game {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 0vh;
}

.PlayBoard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayBoard-tile {
  height: 200px;
  width: 200px;
  background-color: rgba(156, 133, 1, 0.89);
  margin: 2px;
  transition-duration: 300ms;
  box-shadow: 0px 0px 2px black;
  box-shadow: inset 0px 0px 0px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.75);

}

.PlayBoard-tile:hover {
  background-color: rgba(168, 154, 74, 0.89);
  cursor: pointer;
  transition-duration: 300ms;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.493);
}

.PlayBoard-row:nth-child(1) .PlayBoard-tile:nth-child(1) {
  border-radius: 10% 0 0 0;
  transition-delay: 600ms;
}

.PlayBoard-row:nth-child(1) .PlayBoard-tile:nth-child(2) {
  transition-delay: 300ms;
}

.PlayBoard-row:nth-child(1) .PlayBoard-tile:nth-child(3) {
  border-radius: 0 10% 0 0;
  transition-delay: 600ms;

}

.PlayBoard-row:nth-child(2) .PlayBoard-tile:nth-child(1) {
  transition-delay: 900ms;
}

.PlayBoard-row:nth-child(2) .PlayBoard-tile:nth-child(2) {
  transition-delay: 1200ms;
}

.PlayBoard-row:nth-child(2) .PlayBoard-tile:nth-child(3) {
  transition-delay: 900ms;
}

.PlayBoard-row:nth-child(3) .PlayBoard-tile:nth-child(1) {
  transition-delay: 600ms;
  border-radius: 0 0 0 10%;
}

.PlayBoard-row:nth-child(3) .PlayBoard-tile:nth-child(2) {
  transition-delay: 300ms;
}

.PlayBoard-row:nth-child(3) .PlayBoard-tile:nth-child(3) {
  transition-delay: 600ms;
  border-radius: 0 0 10% 0;
}


.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.hiddenPlayBoardTile {
  opacity: 0;
  filter: blur(5px);
  width: 0px;
  transition-duration:  500ms;
}

.showPlayBoardTile {
  opacity: 1;
  filter: blur(0);
  width: 200px;
}

.hiddenPlayBoardButton {
  transform: translateY(-100vh);
  transition-duration: 500ms;
}

.hiddenPlayBoardButtonRestart {
  opacity: 0;
  filter: blur(5px);
  transition-duration: 500ms;
  position: relative;
  bottom: 150px;
  z-index: -1;
}

.transitionDelayZero {
  transition-delay: 0ms !important;
}

.Cross::before {
  content: "x";
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 200px Open Sans;
  position: relative;
  top: -20px;
  height: 200px;
  width: 200px;
  color: rgba(255, 255, 255, 0.301);
  transition-duration: 300ms;
}

.Circle::before {
  content: "o";
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 200px Open Sans;
  position: relative;
  top: -20px;
  height: 200px;
  width: 200px;
  color: rgba(255, 255, 255, 0.301);
    transition-duration: 300ms;


}

@media only screen and (max-width: 650px) {
  .PlayBoard-tile {
    height: 30vw;
    width: 30vw;
  }
  .PlayBoard-title {
    font: bold 90px Open Sans;
  }
  .Cross::before {
    content: "x";
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 30vw Open Sans;
    height: 30vw;
    width: 30vw;
    color: rgba(255, 255, 255, 0.301);
    top: -10px;
  }
  .Circle::before {
    content: "o";
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 30vw Open Sans;
    height: 30vw;
    width: 30vw;
    color: rgba(255, 255, 255, 0.301);
    top: -10px;
  }
}


@media only screen and (max-width: 500px) {
  .PlayBoard-title {
    font: bold 80px Open Sans;
  }

  .PlayBoard-button-newGame-button {
    padding: 20px !important;
  }

  .PlayBoard-ScoreBoard div {
    font: bold 40px Open Sans;
    display: flex;
    background-color: #8f7c14;
    height: 80px;
    width: 160px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  .PlayBoard-title {
    font: bold 70px Open Sans;
  }
}

@media only screen and (max-width: 400px) {
  .PlayBoard-title {
    font: bold 60px Open Sans;
  }

  .PlayBoard-ScoreBoard div {
    font: bold 30px Open Sans;
    display: flex;
    background-color: #8f7c14;
    height: 60px;
    width: 120px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 350px) {
  .PlayBoard-title {
    font: bold 50px Open Sans;
  }
}


.PlayBoard-winning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  margin-top: 20px;
    bottom: 0;

}

.PlayBoard-winning-button {
  background-color: rgba(156, 133, 1, 0.89) !important;
  font-size: 20px !important;
  padding: 10px 20px 10px 20px !important;
  border-radius: 20px !important;
  color: rgba(255, 255, 255, 0.356) !important;


}


.pointerNone {
  pointer-events:none;
}