.PlayBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PlayBoard-title {
  display: flex;
  width: 100vw;
  text-align: center;
  justify-content: center;
  background:
    radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  padding: 10px 0 10px 0;
  font: bold 90px Open Sans;
  color: #07281b;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.979);
  text-shadow: 2px 2px rgba(255, 255, 255, 0.185);
}

.PlayBoard-ScoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 300ms;
  transition-delay: 500ms;
  opacity: 0;
  transform: translateY(-100%);
  filter: blur(5px);
  z-index: -1;
  background-color: #95742C;
  top: -4px;
  border-radius: 0 0 50% 50%;
  padding: 0 0 20px 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.979);
}

.PlayBoard-ScoreBoard div {
  color: #07281b;
  font: bold 45px Open Sans;
  display: flex;
  height: 100px;
  width: 180px;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.185);
}

.PlayBoard-ScoreBoard div:nth-child(1) {
  border-right: 1px solid #07281b;
}

.PlayBoard-ScoreBoard div:nth-child(2) {
  border-left: 1px solid #07281b;
}


.PlayBoard-button-newGame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20vh;
  transform: translateX(0px);
  transition-duration: 500ms;
  box-shadow: 0 0 2px 1px #07281b;
  border-radius: 20px !important;
}

.PlayBoard-button-newGame-button {
  background:
    radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) !important;
  font: bold 30px Open Sans !important;
  padding: 20px !important;
  border-radius: 20px !important;
  color: #07281b !important;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.226) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.979) !important;

}

.PlayBoard-Game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 0vh;
  background:
    radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 20px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.979);

}

.PlayBoard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayBoard-tile {
  height: 180px;
  border: #07281b 1px solid;
}

.PlayBoard-tile:hover {
  background-color: rgba(255, 255, 255, 0.185);
  cursor: pointer;
  transition-duration: 300ms;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.493);
}

.PlayBoard-row:nth-child(1) .PlayBoard-tile:nth-child(1) {
  border-radius: 10% 0 0 0;
}

.PlayBoard-row:nth-child(1) .PlayBoard-tile:nth-child(3) {
  border-radius: 0 10% 0 0;
}

.PlayBoard-row:nth-child(3) .PlayBoard-tile:nth-child(1) {
  border-radius: 0 0 0 10%;
}

.PlayBoard-row:nth-child(3) .PlayBoard-tile:nth-child(3) {
  border-radius: 0 0 10% 0;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.hiddenPlayBoardTile {
  opacity: 0;
  filter: blur(5px);
  width: 0px;
  height: 0px;
}

.showPlayBoardTile {
  opacity: 1;
  filter: blur(0);
  width: 180px;
  height: 180px;
  transition-delay: 200ms;
  transition-duration: 1500ms;
}

.hiddenPlayBoardButton {
  transform: translateY(-1000px);
  transition-duration: 500ms;
}

.hiddenPlayBoardButtonRestart {
  opacity: 0;
  filter: blur(5px);
  transition-duration: 500ms;
  position: relative;
  bottom: 150px;
  z-index: -1;
}

.transitionDelayZero {
  transition-delay: 0ms !important;
}

.Cross::before {
  content: "x";
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 120px Open Sans;
  position: relative;
  top: -10px;
  height: 180px;
  width: 180px;
}

.Cross,
.Circle {
  pointer-events: none;
  color: #07281b;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.274);
}


.Circle::before {
  content: "o";
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 120px Open Sans;
  position: relative;
  top: -10px;
  height: 180px;
  width: 180px;
}

@media (hover: hover) {
  div.X:hover::before {
    content: "x";
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 120px Open Sans;
    position: relative;
    color: rgba(0, 0, 0, 0.123);
    height: 180px;
    width: 180px;
    top: -10px;
  }

  div.O:hover::before {
    content: "o";
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 120px Open Sans;
    position: relative;
    color: rgba(0, 0, 0, 0.123);
    height: 180px;
    width: 180px;
    top: -10px;
  }
}

@media only screen and (max-width: 650px) {
  .PlayBoard-tile {
    height: 0vw;
    width: 0vw;
  }

  .showPlayBoardTile {
    opacity: 1;
    filter: blur(0);
    height: 30vw;
    width: 30vw;
    transition-delay: 200ms;
    transition-duration: 1500ms;
  }

  .PlayBoard-title {
    font: bold 90px Open Sans;
  }

  .Cross::before {
    font: bold 100px Open Sans;
    height: 30vw;
    width: 30vw;
  }

  .Circle::before {
    font: bold 100px Open Sans;
    height: 30vw;
    width: 30vw;
  }

  div.X:hover::before {
    font: bold 100px Open Sans;
    height: 30vw;
    width: 30vw;
  }

  div.O:hover::before {
    font: bold 100px Open Sans;
    height: 30vw;
    width: 30vw;
  }
}


@media only screen and (max-width: 500px) {
  .PlayBoard-title {
    font: bold 80px Open Sans;
  }

  .PlayBoard-button-newGame-button {
    padding: 20px !important;
  }

  .PlayBoard-Game {
    border-radius: 17px;
  }
}

@media only screen and (max-width: 450px) {
  .PlayBoard-title {
    font: bold 70px Open Sans;
  }

  .Cross::before {
    font: bold 80px Open Sans;
  }

  .Circle::before {
    font: bold 80px Open Sans;
  }

  .PlayBoard-Game {
    border-radius: 15px;
  }

  div.X:hover::before {
    font: bold 80px Open Sans;
  }

  div.O:hover::before {
    font: bold 80px Open Sans;
  }
}

@media only screen and (max-width: 400px) {
  .PlayBoard-title {
    font: bold 60px Open Sans;
  }

  .Cross::before {
    font: bold 60px Open Sans;
  }

  .Circle::before {
    font: bold 60px Open Sans;
  }

  .PlayBoard-ScoreBoard div {
    font: bold 30px Open Sans;
    height: 60px;
    width: 120px;
  }

  div.X:hover::before {
    font: bold 60px Open Sans;
  }

  div.O:hover::before {
    font: bold 60px Open Sans;
  }
}

@media only screen and (max-width: 350px) {
  .PlayBoard-title {
    font: bold 50px Open Sans;
  }
}


.PlayBoard-winning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  margin-top: 0px;
  position: relative;
  top: -35px;
}

.PlayBoard-winning-button {
  background:
    radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) !important;
  font: bold 20px Open Sans !important;
  padding: 10px 20px !important;
  border-radius: 20px !important;
  color: #07281b !important;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.226) !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.979) !important;
}

.pointerNone {
  pointer-events: none;
}

.showScoreBoard {
  transition-duration: 500ms;
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.winnerTile {
  color: rgba(112, 0, 0, 0.623);
  transition-delay: 1000ms;
  box-shadow: 0 0 2px 1px rgb(112, 0, 0);
  border: rgb(112, 0, 0) 1px solid;
}