.PlayBoard {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PlayBoard-title {
  display: flex;
  font-size: 40px;
  width: 100vw;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.301);
  padding: 50px 0 50px 0;
  font: bold 36px Open Sans;
  color: white;
}

.PlayBoard-button-newGame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30vh;
  transform: translateX(0px);
  transition-duration: 500ms;
}

.PlayBoard-button-newGame-button {
  font-size: 20px !important;
  margin: 0 20px 0 20px !important;
}


.PlayBoard-Game {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 10vh;
}

.PlayBoard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayBoard-tile {
  height: 150px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.568);
  margin: 2px;
  transition-duration: 300ms;
  box-shadow: 0px 0px 2px black;
  box-shadow: inset 0px 0px 0px rgb(0, 0, 0);
}

.PlayBoard-tile:hover {
  background-color: rgba(255, 255, 255, 0.74);
  cursor: pointer;
  transition-duration: 300ms;
  box-shadow: 0px 0px 0px black;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.493);
}

.PlayBoard-row:nth-child(1) .PlayBoard-tile:nth-child(1) {
  border-radius: 10% 0 0 0;
  transition-delay: 300ms;
}

.PlayBoard-row:nth-child(1) .PlayBoard-tile:nth-child(2) {
  transition-delay: 100ms;
}

.PlayBoard-row:nth-child(1) .PlayBoard-tile:nth-child(3) {
  border-radius: 0 10% 0 0;
  transition-delay: 300ms;

}

.PlayBoard-row:nth-child(2) .PlayBoard-tile:nth-child(1) {
  transition-delay: 600ms;
}

.PlayBoard-row:nth-child(2) .PlayBoard-tile:nth-child(2) {
  transition-delay: 900ms;
}

.PlayBoard-row:nth-child(2) .PlayBoard-tile:nth-child(3) {
  transition-delay: 600ms;
}

.PlayBoard-row:nth-child(3) .PlayBoard-tile:nth-child(1) {
  transition-delay: 300ms;
  border-radius: 0 0 0 10%;
}

.PlayBoard-row:nth-child(3) .PlayBoard-tile:nth-child(2) {
  transition-delay: 100ms;
}

.PlayBoard-row:nth-child(3) .PlayBoard-tile:nth-child(3) {
  transition-delay: 300ms;
  border-radius: 0 0 10% 0;
}


.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.hiddenPlayBoardTile {
  opacity: 0;
  filter: blur(5px);
  width: 0px;
}

.showPlayBoardTile {
  opacity: 1;
  filter: blur(0);
  width: 150px;
}

.hiddenPlayBoardButton {
  transform: translateY(-100vh);
  transition-duration: 500ms;
}

.transitionDelayZero {
  transition-delay: 0ms !important;
}


@media only screen and (max-width: 500px) {
  .PlayBoard-tile {
    height: 30vw;
    width: 30vw;
    margin: 2px;
  }




}